.experience-accord {
  margin: 50px;
}

.experience-accord .experience-card {
  margin-top: 5%;
}

.accord-panel {
  font-family: "Google Sans Regular";
}

@media (max-width: 768px) {
  .experience-accord {
    margin: 20px;
  }
}
